@media screen {body {margin: 5em}}
@media all and (max-width: 800px) {body {margin: 0.25em}}

body {font-family: sans-serif}
body {font-size: 8pt}
body {max-width: 40em}
a {color: #444}
ul {padding: 0em}
li {list-style: none}
table {}

input {
 font-size: 100%;
 padding: 0em;
 border: 1px dotted #ccc;
 min-width: 6em;
}

table.opt-form {
 border: 1px solid #c80815;
 margin: 0em 0em 1em 0em;
}

table.opt-form td.key {
 color: #999;
 padding: 0em 0.5em 0em 0em;
}

input.submit {visibility: hidden} /* display: none */

table.result {
 font-size: 100%;
 border-collapse: separate;
 border: 1px solid #009246;
 margin: 0em 0em 1em 0em;
}

table.result th {border: 1px solid #ccc}
table.result td {border: 1px dotted #ddd}

.cw-34 {background-color: #6c6}
.cw-39 {background-color: #68f}
.cw-50 {background-color: #d93}
.cw-53 {background-color: #ff5}
